<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobile.apex">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Screens.SplashScreen"
            android:label="@string/app_name"
            android:theme="@style/BaseTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Screens.IntroScreen" />
        <activity android:name=".Screens.RegistrationActivity"
            android:windowSoftInputMode="stateAlwaysVisible"/>
        <activity android:name=".Screens.LoginActivity"
            android:windowSoftInputMode="stateAlwaysVisible"/>
        <activity android:name=".Screens.MainActivity" />
        <activity android:name=".Screens.QuizActivity" />
        <activity android:name=".Screens.MathematicsActivity" />
        <activity android:name=".Screens.ChemistryActivity" />
        <activity android:name=".Screens.ApexBiologyActivity" />
        <activity android:name=".Screens.ApexPhysicsActivity" />
        <activity android:name=".Screens.PhysicsTopicsDisplay" />
        <activity android:name=".Screens.BiologyTopicsDisplayActivity" />
        <activity android:name=".Screens.ChemistryTopicsDisplayActivity" />
        <activity android:name=".Screens.MathematicsTopicsDisplayActivity" />

        <activity android:name=".NoItemInternetImage" />
    </application>

</manifest>