<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobile.apex">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:orientation="vertical"
        android:theme="@style/BaseTheme">
        <activity
            android:name=".Screens.SplashScreen"
            android:label="@string/app_name"
            android:theme="@style/BaseTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Screens.IntroScreen"
            android:theme="@style/BaseTheme"/>
        <activity android:name=".Screens.RegistrationActivity"
            android:theme="@style/BaseTheme"
            android:windowSoftInputMode="stateAlwaysVisible"/>
        <activity android:name=".Screens.LoginActivity"
            android:theme="@style/BaseTheme"
            android:windowSoftInputMode="stateAlwaysVisible"/>
        <activity android:name=".Screens.MainActivity"
            android:theme="@style/BaseTheme" />
        <activity android:name=".Screens.QuizActivity"
            android:theme="@style/BaseTheme" />
        <activity android:name=".Screens.MathematicsActivity"
            android:theme="@style/BaseTheme" />
        <activity android:name=".Screens.ChemistryActivity"
            android:theme="@style/BaseTheme" />
        <activity android:name=".Screens.ApexBiologyActivity"
            android:theme="@style/BaseTheme" />
        <activity android:name=".Screens.ApexPhysicsActivity"
            android:theme="@style/BaseTheme" />
        <activity android:name=".Screens.PhysicsTopicsDisplay"
            android:theme="@style/BaseTheme" />
        <activity android:name=".Screens.BiologyTopicsDisplayActivity"
            android:theme="@style/BaseTheme" />
        <activity android:name=".Screens.ChemistryTopicsDisplayActivity"
            android:theme="@style/BaseTheme" />
        <activity android:name=".Screens.MathematicsTopicsDisplayActivity"
            android:theme="@style/BaseTheme" />

        <activity android:name=".NoItemInternetImage" />
    </application>

</manifest>